<a href="https://colab.research.google.com/github/VijayTaori/Datetime-module-in-Python/blob/master/Adding_weekday_column_2DF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import calendar
import datetime
df_usd2eur = pd.read_csv('/content/USD2EUR_all.csv')
df_usd2eur['Date'] = pd.to_datetime(df_usd2eur['Date'],dayfirst=True)
def find_weekday(y):
  day = calendar.day_name[y.weekday()]
  return day
df_usd2eur['Weekday'] = df_usd2eur['Date'].map(find_weekday)
df_usd2eur

          Date      Open      High       Low     Close    Weekday
0   2020-01-01  1.122083  1.122838  1.115947  1.122083  Wednesday
1   2020-01-02  1.121894  1.122712  1.116682  1.122083   Thursday
2   2020-01-03  1.117081  1.118068  1.112570  1.117144     Friday
3   2020-01-06  1.116246  1.120825  1.115810  1.116196     Monday
4   2020-01-07  1.119583  1.119946  1.113487  1.119799    Tuesday
..         ...       ...       ...       ...       ...        ...
778 2022-12-26  1.066780  1.063717  1.060895  1.066780     Monday
779 2022-12-27  1.064022  1.066900  1.061244  1.064022    Tuesday
780 2022-12-28  1.063717  1.067430  1.061391  1.063717  Wednesday
781 2022-12-29  1.062925  1.067019  1.061233  1.062925   Thursday
782 2022-12-30  1.066075  1.069793  1.063920  1.066075     Friday

[783 rows x 6 columns]